:root {
  --background: #ffffff;
  --foreground: #181a1b;

  --card: #ffffff;
  --card-foreground: #181a1b;

  --popover: #ffffff;
  --popover-foreground: #181a1b;

  --primary: #181a1b;
  --primary-foreground: #fafafa;

  --secondary: #f1f5f9;
  --secondary-foreground: #181a1b;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #f1f5f9;
  --accent-foreground: #181a1b;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #181a1b;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

html,
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

* {
  border-color: hsl(var(--border));
  scroll-behavior: smooth;
}

button:active {
  outline: none;
}

@layer utilities {
  .heading {
    font-weight: bold;
    font-size: 2.25rem; /* text-4xl */
    text-align: center;
  }
  @media (min-width: 768px) {
    .heading {
      font-size: 3rem; /* md:text-5xl */
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
